html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  overflow: hidden;
  max-height: 500px;
  position: relative;
}

h2 {
  line-height: 1.4;
  font-size: 4rem;
  color: #fff;
}

div {
  margin: 0;
}

.max-width {
  max-width: 50em;
  width: 100%;
}

.banner-title {
  width: 100%;
  transform: translateX(-34%);
  left: 38%;
  position: absolute;
  bottom: 8.1rem;
}

.banner-title span {
  background-color: rgba(0, 0, 0, .5);
}

.banner-text {
  margin: 0;
  font-size: 2rem;
  font-style: italic;
  position: absolute;
  bottom: 1.4rem;
  left: 1.5rem;
}

@media only screen and (min-width: 60em) {

.banner-title {
  bottom: 5rem;
  padding: 0 20rem;
}

.banner-text {
  padding: 0 20rem;
  bottom: 1.5rem;
}

}
